# PostgreSQL Connection
DATABASE_URL="postgresql://usuario:password@localhost:5432/stockpos?schema=public"

# Ejemplo con valores por defecto de PostgreSQL
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/stockpos?schema=public"
